In [2]:
import sqlite3
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
connection = sqlite3.connect('store.db')
%load_ext sql
%sql sqlite:///store.db

In [2]:
%%sql
SELECT * FROM Events

 * sqlite:///store.db
Done.

[(1, '18de7d9e-77f2-41a3-bfa4-094fa7e9cce0.png', 'имя', 'ывав', 'ыва', 'ываы', 'ываыв', 'ыпыап', 'авпа', 'вапва', 'вап', 'вап', 'вапва', 'вап', 0, 0, 1),
 (2, 'a2583a77-a5f5-45bc-9bdf-71a913d4ea77.png', 'Новый эвент', 'ne', 'nk', 'dr', 'de', 'dk', 'm', 'dev', 'pr', 'pe', 'pk', 'disc', 3124324324, 234234234, 234234234),
 (3, 'be064f8a-e859-4ab6-bbd3-0fed6eea855b.png', 'Новый эвент', 'ne', 'nk', 'dr', 'de', 'dk', 'm', 'dev', 'pr', 'pe', 'pk', 'disc', 3124324324, 234234234, 234234234),
 (4, 'a2bfbb1f-327a-415f-a35f-9b23edbb2902.png', 'имя', 'ывав', 'ыва', 'ываы', 'ываыв', 'ыпыап', 'авпа', 'вапва', 'вап', 'вап', 'вапва', 'вап', 0, 0, 1),
 (5, 'c22535de-479e-440b-a6e6-ea1ba2152929.png', 'nr', 'ne', 'nk', 'dr', 'de', 'dk', 'org', 'dev', 'pr', 'pe', 'pk', 'disc', 0, 0, 1),
 (6, 'c7fbf679-1a57-4313-9bf5-abe82adddcfe.png', 'Новый эвент', 'ne', 'nk', 'dr', 'de', 'dk', 'm', 'dev', 'pr', 'pe', 'pk', 'disc', 3124324324, 234234234, 234234234),
 (7, 'e1c18d25-59d7-4a4d-a144-d4590541ad2f.png', 'nr', 'ne', 'nk', 'dr', 'de', 'dk', 'org', 'dev', 'pr', 'pe', 'pk', 'disc', 0, 0, 1),
 (8, 'e24e44ad-810a-4de3-a844-4e746c91fd3c.png', 'nr', 'ne', 'nk', 'dr', 'de', 'dk', 'org', 'dev', 'pr', 'pe', 'pk', 'disc', 0, 0, 1),
 (9, 'd2301784-51db-48bc-918f-2a95d4cfbf78.png', 'с фронта', 'ne', 'nk', 'dr', 'de', 'dk', 'org', 'dev', 'pr', 'pe', 'pk', 'disc', 0, 0, 1)]

In [3]:
%%sql
UPDATE Events
SET previewPhoto = "previewPhoto", 
    nameRu = "nameRu", 
    nameEn = "nameEn", 
    nameKz = "nameKz", 
    descriptionRu = "descriptionRu", 
    descriptionEn = "descriptionEn", 
    descriptionKz = "descriptionKz", 
    manager = "manager", 
    placeRu = "placeRu", 
    placeEn = "placeEn", 
    placeKz = "placeKz", 
    discipline = "discipline", 
    startTime = 1, 
    endTime = 2, 
    prize = 3 
WHERE id = 5;

 * sqlite:///store.db
1 rows affected.

[]

In [8]:
%%sql
SELECT * FROM Events
WHERE 
        discipline IN ("вап","disc") 
    AND manager IN ("org") 
    AND developer IN ("dev")
    AND prize BETWEEN 0 AND 100
    AND startTime >= 0 
    AND endTime <= 10
    AND (nameRu LIKE "%f%" OR nameEn LIKE "%f%" OR nameKz LIKE "%f%")

 * sqlite:///store.db
Done.

[]

In [11]:
%%sql
SELECT DISTINCT manager FROM Events

 * sqlite:///store.db
Done.

[('авпа',), ('m',), ('org',)]

In [12]:
%%sql
SELECT DISTINCT developer FROM Events

 * sqlite:///store.db
Done.

[('вапва',), ('dev',)]

In [13]:
%%sql
SELECT DISTINCT discipline FROM Events

 * sqlite:///store.db
Done.

[('вап',), ('disc',)]

In [19]:
%%sql
INSERT INTO Events (
    previewPhoto, nameRu, nameEn, nameKz, descriptionRu, descriptionEn, descriptionKz, manager, developer, placeRu, placeEn, placeKz, discipline, startTime, endTime, prize) VALUES
(
    "defaultimg.png",
    "Название 3", 
    "Name", 
    "NameKz", 
    "Киберспортивное мероприятие представляет собой захватывающее соревнование, собирающее лучших киберспортсменов на одной площадке. Участники сражаются в захватывающих игровых дисциплинах, проявляя невероятные навыки и смекалку. Мероприятие окутано атмосферой напряжения и волнения, погружая зрителей в мир электронного спорта. Победители получают не только почет и признание, но и щедрые призы и награды, становясь героями среди любителей киберспорта. Соревнующиеся демонстрируют стратегическое мышление, реакцию, слаженность команды и индивидуальное мастерство в зрелищных поединках. Каждый матч - это уникальное шоу, наполненное энергией и адреналином, приводящее к ошеломляющим результатам и превосходным игровым моментам. Киберспортивное мероприятие - это синтез профессионализма, азарта и страсти, привлекающий тысячи поклонников по всему миру.", 
    "A cyber sports event is an exciting competition that gathers the best esports athletes on one platform. Participants compete in thrilling gaming disciplines, showcasing incredible skills and cunning. The event is surrounded by an atmosphere of tension and excitement, immersing spectators in the world of electronic sports. Winners receive not only honor and recognition but also generous prizes and rewards, becoming heroes among esports enthusiasts. Competitors demonstrate strategic thinking, reflexes, team coordination, and individual mastery in spectacular matches. Each match is a unique show filled with energy and adrenaline, leading to stunning results and outstanding gameplay moments. A cyber sports event is a synthesis of professionalism, thrill, and passion, attracting thousands of fans worldwide.", 
    "Кибер-спорттық іс-шараға қол жеткізу үшін ең жақын мекенжайда ең еңбекар электронды спортшылдарды жинаушы бір көшедай кездеседі. Қатысушылар үміткерлік ойын дисциплиналарында ойыншылық қабілеттерін көрсетуді мақсатында кездесуде. Іс-шара жағдайысы жаманыат тауыпсыздың және толғануы сезім алу орта жасайды, келесілерді электронды спорттық әлемдің мазмұны арасында түнгендейді. Жеңшілер танымал дейіндер және анықталу, ал ескертулер мен марапатты шығушылар алу, спортшылар бекітілген мәчтеменің оқиғалық ойын мезетінде мекендейді. Әр маҧас - бұл энергия мен адреналинмен толтырылған күйірме, потенциалды нәтижелерге және шабуылды ойын ағзаларына бастаған жағдайды. Кибер-спорттық жеміс - бүйрайтындылық, эрзінділік пен махаббаттың синтезі, жалпы ертегілер салғыштырған, миллиондаған турар жамандарды ауыстыру.", 
    "Manager", 
    "CS:GO",
    "Москва", 
    "Moscow", 
    "Москва КЗ", 
    "Dota", 
    1749004863, 
    1749264063, 
    10000
)

 * sqlite:///store.db
1 rows affected.

[]

In [24]:
%%sql
SELECT manager, developer FROM Events

 * sqlite:///store.db
Done.

[('Organizator', 'Valve'),
 ('Organizator', 'Valve'),
 ('Organizator', 'Valve'),
 ('Organizator', 'Valve'),
 ('Organizator', 'Valve'),
 ('Organizator', 'Valve'),
 ('Organizator', 'Valve'),
 ('Organizator', 'Valve'),
 ('Manager', 'CS:GO'),
 ('Manager', 'CS:GO'),
 ('Manager', 'CS:GO')]

In [4]:
%%sql
SELECT * FROM Users WHERE login = 'админ' AND password = 'админ'

 * sqlite:///store.db
Done.

[(9, 'daf6d6a3-56a0-4b8c-9b97-95e36760c9f7.png', 'админ', 'админыч', 'company', 'poschta', '78880009876', 1, 'админ', 'админ')]

In [17]:
%%sql
SELECT * FROM Sales

 * sqlite:///store.db
Done.

[(3, 0, 0, 0)]

In [21]:
%%sql
INSERT INTO Sales (eventId, userId, date) VALUES
(1,11,123456)

 * sqlite:///store.db
1 rows affected.

[]

In [14]:
%%sql
SELECT Events.id, previewPhoto, nameRu, nameEn, nameKz, descriptionRu, descriptionEn, descriptionKz, manager, developer, placeRu, placeEn, placeKz, discipline, startTime, endTime, prize FROM Sales
JOIN Events ON Events.id = eventId
WHERE userId = 1

 * sqlite:///store.db
Done.

[(1, '1fc1d278-5c87-4b61-8384-9d3947089488.png', 'Название RU', 'Название EN', 'Название KZ', 'Название RU', 'Название RU', 'Название RU', 'Организатор', 'Разраб', 'москва', 'мосвка', 'москва', 'ксго', 1751328000000, 1751414400000, 1000006)]

In [11]:
%%sql
DELETE FROM Sales 
WHERE userId = 1 AND eventId = 1

 * sqlite:///store.db
1 rows affected.

[]

In [19]:
%%sql
SELECT * FROM Users

 * sqlite:///store.db
Done.

[(11, '71a78480-c1a7-4c8f-b2f2-a10baddd60ef.png', 'имя1342', 'фамилия234234', 'Компания', 'sdfsd', '799123124', 1, 'логин', 'пароль')]

In [20]:
%%sql
SELECT * FROM Events

 * sqlite:///store.db
Done.

[(1, '1fc1d278-5c87-4b61-8384-9d3947089488.png', 'Название RU', 'Название EN', 'Название KZ', 'Название RU', 'Название RU', 'Название RU', 'Организатор', 'Разраб', 'москва', 'мосвка', 'москва', 'ксго', 1751328000000, 1751414400000, 1000006)]

In [22]:
%%sql
SELECT * FROM Sales

 * sqlite:///store.db
Done.

[(3, 0, 0, 0), (6, 1, 11, 123456)]

In [ ]:
%%sql
INSERT INTO Events (
    previewPhoto, nameRu, nameEn, nameKz, descriptionRu, descriptionEn, descriptionKz, manager, developer, placeRu, placeEn, placeKz, discipline, startTime, endTime, prize) VALUES
(
    "ccd86755-8594-40b5-b7c5-3832f8506250.jpg",
    "Blast.tv Austin Major 2025", 
    "Blast.tv Austin Major 2025", 
    "Blast.tv Austin Major 2025", 
    "Киберспортивное мероприятие представляет собой захватывающее соревнование, собирающее лучших киберспортсменов на одной площадке. Участники сражаются в захватывающих игровых дисциплинах, проявляя невероятные навыки и смекалку. Мероприятие окутано атмосферой напряжения и волнения, погружая зрителей в мир электронного спорта. Победители получают не только почет и признание, но и щедрые призы и награды, становясь героями среди любителей киберспорта. Соревнующиеся демонстрируют стратегическое мышление, реакцию, слаженность команды и индивидуальное мастерство в зрелищных поединках. Каждый матч - это уникальное шоу, наполненное энергией и адреналином, приводящее к ошеломляющим результатам и превосходным игровым моментам. Киберспортивное мероприятие - это синтез профессионализма, азарта и страсти, привлекающий тысячи поклонников по всему миру.", 
    "A cyber sports event is an exciting competition that gathers the best esports athletes on one platform. Participants compete in thrilling gaming disciplines, showcasing incredible skills and cunning. The event is surrounded by an atmosphere of tension and excitement, immersing spectators in the world of electronic sports. Winners receive not only honor and recognition but also generous prizes and rewards, becoming heroes among esports enthusiasts. Competitors demonstrate strategic thinking, reflexes, team coordination, and individual mastery in spectacular matches. Each match is a unique show filled with energy and adrenaline, leading to stunning results and outstanding gameplay moments. A cyber sports event is a synthesis of professionalism, thrill, and passion, attracting thousands of fans worldwide.", 
    "Кибер-спорттық іс-шараға қол жеткізу үшін ең жақын мекенжайда ең еңбекар электронды спортшылдарды жинаушы бір көшедай кездеседі. Қатысушылар үміткерлік ойын дисциплиналарында ойыншылық қабілеттерін көрсетуді мақсатында кездесуде. Іс-шара жағдайысы жаманыат тауыпсыздың және толғануы сезім алу орта жасайды, келесілерді электронды спорттық әлемдің мазмұны арасында түнгендейді. Жеңшілер танымал дейіндер және анықталу, ал ескертулер мен марапатты шығушылар алу, спортшылар бекітілген мәчтеменің оқиғалық ойын мезетінде мекендейді. Әр маҧас - бұл энергия мен адреналинмен толтырылған күйірме, потенциалды нәтижелерге және шабуылды ойын ағзаларына бастаған жағдайды. Кибер-спорттық жеміс - бүйрайтындылық, эрзінділік пен махаббаттың синтезі, жалпы ертегілер салғыштырған, миллиондаған турар жамандарды ауыстыру.", 
    "Blast", 
    "Valve",
    "Austin, USA", 
    "Austin, USA", 
    "Austin, USA", 
    "CS2", 
    1748894552, 
    1750536152, 
    1250000
), 
(
    "ccd86755-8594-40b5-b7c5-3832f8506250.jpg",
    "Esports World Cup 2025", 
    "Esports World Cup 2025", 
    "Esports World Cup 2025", 
    "Киберспортивное мероприятие представляет собой захватывающее соревнование, собирающее лучших киберспортсменов на одной площадке. Участники сражаются в захватывающих игровых дисциплинах, проявляя невероятные навыки и смекалку. Мероприятие окутано атмосферой напряжения и волнения, погружая зрителей в мир электронного спорта. Победители получают не только почет и признание, но и щедрые призы и награды, становясь героями среди любителей киберспорта. Соревнующиеся демонстрируют стратегическое мышление, реакцию, слаженность команды и индивидуальное мастерство в зрелищных поединках. Каждый матч - это уникальное шоу, наполненное энергией и адреналином, приводящее к ошеломляющим результатам и превосходным игровым моментам. Киберспортивное мероприятие - это синтез профессионализма, азарта и страсти, привлекающий тысячи поклонников по всему миру.", 
    "A cyber sports event is an exciting competition that gathers the best esports athletes on one platform. Participants compete in thrilling gaming disciplines, showcasing incredible skills and cunning. The event is surrounded by an atmosphere of tension and excitement, immersing spectators in the world of electronic sports. Winners receive not only honor and recognition but also generous prizes and rewards, becoming heroes among esports enthusiasts. Competitors demonstrate strategic thinking, reflexes, team coordination, and individual mastery in spectacular matches. Each match is a unique show filled with energy and adrenaline, leading to stunning results and outstanding gameplay moments. A cyber sports event is a synthesis of professionalism, thrill, and passion, attracting thousands of fans worldwide.", 
    "Кибер-спорттық іс-шараға қол жеткізу үшін ең жақын мекенжайда ең еңбекар электронды спортшылдарды жинаушы бір көшедай кездеседі. Қатысушылар үміткерлік ойын дисциплиналарында ойыншылық қабілеттерін көрсетуді мақсатында кездесуде. Іс-шара жағдайысы жаманыат тауыпсыздың және толғануы сезім алу орта жасайды, келесілерді электронды спорттық әлемдің мазмұны арасында түнгендейді. Жеңшілер танымал дейіндер және анықталу, ал ескертулер мен марапатты шығушылар алу, спортшылар бекітілген мәчтеменің оқиғалық ойын мезетінде мекендейді. Әр маҧас - бұл энергия мен адреналинмен толтырылған күйірме, потенциалды нәтижелерге және шабуылды ойын ағзаларына бастаған жағдайды. Кибер-спорттық жеміс - бүйрайтындылық, эрзінділік пен махаббаттың синтезі, жалпы ертегілер салғыштырған, миллиондаған турар жамандарды ауыстыру.", 
    "Blast", 
    "Valve",
    "Austin, USA", 
    "Austin, USA", 
    "Austin, USA", 
    "CS2", 
    1748894552, 
    1750536152, 
    1250000
),